NODE_PORT=3000

# in Docker containers this is apparently usually 0.0.0.0
NODE_HOST="0.0.0.0"

DB_HOST="db"

# =========== Database stuff ===========
MYSQL_ROOT_PASSWORD="verySecretPassword"
MYSQL_DATABASE="databaseName"
MYSQL_USER="username"
MYSQL_PASSWORD="password"
MYSQL_ROOT_HOST="%"

